body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    background-color: #ffffff;
	font-size:17px;
}

header {
	margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
	margin-bottom: 0px;
    text-align: center;
	color: #2980b9;
	font-size: 70%;
	font-family: "Open Sans";
}

input {
	background: #ffffff;
	color: #515151;
	font-size: 95%;
	padding: 6px 12px 6px 12px;
	border: 1px solid #7f8c8d;
	text-align: center;
	-moz-border-radius:3px; /* Firefox */
	-webkit-border-radius: 3px; /* Safari, Chrome */
	width: 270px;
	height: 30px;
}

input[type="button"] {
	margin: 0;
    color:#ffffff;
    background-color:#2980b9;
    border:0px;
	font-size: 90%;
	width: 155px;
	font-family: "Open Sans";
}

input[type="checkbox"] {
	width: 20px;
	height: 20px;
}
input#operacion{
	margin-bottom: 20px;
	font-family: "Open Sans";
	color:#515151;
	background: none;
	border: none;
	font-size: 105%;
	outline:none;
}

input#seleccionado{
	width: 180px;
}
nav {
	flex-direction:column;
	float: left;
	display: flex;
	align-item: center;
	margin-left: 20px;
	text-align: center;
	width: 200px;
}

section {
	width: 700px;
	float: left;
}
#table2 #table2_td{
	border: 1px solid;
	-moz-border-radius:3px; /* Firefox */
	-webkit-border-radius: 3px; /* Safari, Chrome */
}
td {
	font-family: "Open Sans";
	font-size: 14px;
	color: #515151;
}


#res_pal a{
	text-align: center;
	font-size:95%;
	color: #ffffff;
}

#res_pal a:link {
	color:#ffffff;
	font-family:"Open Sans";
	text-decoration: none;
	font-weight:300;
}

#res_pal a:hover {
	font-family: "Open Sans";
	color: #ffffff;
}

#res_pal a:visited{
	color:#ffffff;
	font-family:"Open Sans";
}
#res_pal a:visited:hover {
	font-family: "Open Sans";
	color: #ffffff;
}
p#panel.info{
	background-color: #ffffff;
}